h1 {
  color: red;
  font-size: 15px;
}

ul {
  color: red;
  font-size: 10px;
}

li {
  color: red;
  font-size: 10px;
}

#foo {
  color: red;
  font-size: 15px;
}

#bar {
  color: blue;
  font-size: 10px;
}

.foo {
  color: red;
  font-size: 15px;
}

h1.bar {
  color: blue;
  font-size: 10px;
}

